extends layout

block content
	.fb-root
	script.
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=486611214805928&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	include navigation
	section#cover
		.mask
		.page
			h1.main-title
				span Junior
				span Development
				span Labs
			button.btn.btn-lg.centre.btn-apply.btn-link(href='#projects') Aplică acum
	section#about
		.page
			h1.section-title Între liceu și facultate
			h3.section-subtitle Cum funcționează?
			.row.process-box
				.col-md-4.process-step
					img.process-step-image(src='/images/process/apply.png')
					h4.process-step-caption Aplică
					p.process-step-description.
						la unul dintre proiectele propuse de mentori
				.col-md-4.process-step
					img.process-step-image(src='/images/process/work.png')
					h4.process-step-caption Lucrează
					p.process-step-description.
						împreună cu mentorul tău pe durata programului
				.col-md-4.process-step
					img.process-step-image(src='/images/process/win.png')
					h4.process-step-caption Câștigă
					p.process-step-description.
						experiență și un avantaj față de ceilalți
			hr.page-line
			h3.section-subtitle Când și unde?
			p.centre.large.
				Aplică acum și, odată ce ai primit confirmarea participării, stabilește propriul program de lucru cu mentorul tău. Tu îți faci orarul după cum vrei (de comun acord cu mentorul, evident) pentru că știm că vacanța face parte din drepturile elevului. Aplicațiile sunt deschise până pe data de 1 August 2014.
			.container-xs-height
				.row.rox-xs-height
					.col-md-8.align-right.col-xs-height.col-middle
						h1.large-text Tu faci programul! JDL se desfășoară între 11 august și 12 septembrie, perioadă în care te întâlnești cu mentorul tău după cum vrei.
					.col-md-4.col-xs-height.centre
						img.table-image(src='/images/process/calendar.png')
			.container-xs-height
				.row.rox-xs-height
					.col-md-4.col-xs-height.centre
						img.table-image(src='/images/process/map.png')
					.col-md-8.align-left.col-xs-height.col-middle
						h1.large-text Programul este găzduit de Colegiul Național Nicolae Bălcescu din Brăila. Toate întâlnirile oficiale se vor realiza în această locație.
	section#projects
		.page
			h1.section-title Alege proiectul tău
			.projects-grid
				- for project in projects
					.col-md-4.project-box
						.project(id='#{project.id}')
							.test
								.controls
									button.btn-default.btn-lg.btn-project-details(data-toggle='modal', data-target='#project-details-modal') Detalii
									.info-box(style='color: #fff')
										h4 Aplicațiile s-au încheiat
									//button.btn-success.btn-lg.btn-project-apply(disabled) Aplicațiile s-au încheiat
							.tile-cover
							img.project-cover(src='#{project.coverPhoto}')
							.project-info(class='#{project.class}')
								h4.project-title #{project.name}
								p.project-description #{project.shortDescription}
	section#mentors
		.page
			h1.section-title.inverted Cine suntem și ce facem?
			h3.section-subtitle.small.inverted.
				Suntem o mână de stundeți, fiecare pasionat de ceva anume și suntem dispuși să împărtășim tot ceea ce știm
			.row.mentors-grid.inverted
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/alex.jpg')
						h4.mentor-name Alexandru Onea
						p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/irina.jpg')
						h4.mentor-name Irina Lupu
						p.mentor-info Medical School, University Of Manchester, Anul 3
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/cosmin.jpg')
						h4.mentor-name Cosmin Chirpac
						p.mentor-info School of Architecture, University Of Manchester, Anul 1
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/teodora.jpg')
						h4.mentor-name Teodora Teodorescu
						p.mentor-info School of Social Sciences, University Of Aberdeen, Anul 2
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/adrian.jpg')
						h4.mentor-name Adrian Nenu
						p.mentor-info School of Computer Science, University Of Manchester, Anul 1
			h3.section-subtitle.small.inverted.
				Echipa organizatoare
			.row.mentors-grid.inverted
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/radu_alexandru.jpg')
						h4.mentor-name Alexandru Radu
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/bou_elenamirela.jpg')
						h4.mentor-name Elena Mirela Bou
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/alexandru_onea.jpg')
						h4.mentor-name Alexandru Onea
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/craciun_andreea.jpg')
						h4.mentor-name Andreea Craciun
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/camelia_dumitrache.jpg')
						h4.mentor-name Camelia Dumitrache
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/baltatu_maria.jpg')
						h4.mentor-name Maria Baltatu
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/cristian_bota.jpg')
						h4.mentor-name Cristian Ioan Bota
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/ene_ramona.jpg')
						h4.mentor-name Ramona Ene
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/jimmy_dots.jpg')
						h4.mentor-name Jimmy Dots
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/trandafir_andrei.jpg')
						h4.mentor-name Andrei Trandafir
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2						
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/marius_ilie.jpg')
						h4.mentor-name Marius Ilie
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-3.mentor-box
					.mentor
						.team-photo-box
							img.mentor-photo(src='/images/team/stroe_stefan.jpg')
						h4.mentor-name Stefan Stroe
						//- p.mentor-info School of Computer Science, University Of Manchester, Anul 2											
	section#contact
		.page
			h1.section-title.inverted Suntem prietenoși și sociabili
			h3.section-subtitle.inverted.small.
				Ne place să stăm de vorbă. Întrebări, sugestii, reclamații sau un simplu "salut", nu ezita să ne scrii.
			form(method='post').contact-form.form-inline
				fieldset
					.input-group
						snap.input-group-addon: span.glyphicon.glyphicon-user
						input.form-control.input-lg(type='text', name='name', id='name', placeholder='Numele tău...')
					.input-group
						span.input-group-addon: span.glyphicon.glyphicon-envelope
						input.form-control.input-lg(type='email', name='email', id='email', placeholder='Adresa de e-mail...')
					.input-group.full-width
						span.input-group-addon.pull-top: span.glyphicon.glyphicon-comment
						textarea.form-control.input-lg(name='content', id='content', placeholder='Mesajul tău', rows='5')
					.input-group.full-width.centre
						button.btn.btn-lg.btn-send-message Trimite
			p.footer.inverted.centre
				.footer-info
					.row.inverted
						.col-md-4
							p.centre Eveniment organizat in parteneriat cu
								a(href='http://www.cnnb.ro'): img(src='/images/logo/cnnb_logo.png', width='50%')
						.col-md-4
							p.centre Sponsori
						.col-md-4
							p.centre Social
								.fb-like-box(data-href='https://www.facebook.com/JuniorDevelopmentLabs', data-colorscheme='light', data-show-faces='false', data-header='false', data-stream='false', data-show-border='true')
				span.centre.inverted
					a(target='_blank', href='https://www.google.com/search?site=&tbm=isch&source=hp&biw=1600&bih=775&q=yolo&oq=yolo&gs_l=img.12...0.0.0.7082.0.0.0.0.0.0.0.0..0.0....0...1ac..47.img..0.0.0.1qySl_w2MtY&gws_rd=ssl') Regulament
					span  | 
					a(target='_blank', href='/legal/privacy_policy.txt') Politica de securitate
					span  | 
					a(href='/sponsorizari') Fii sponsor
					span  |  
					a(href='mailto:contact@jdl.ro?subject=DONATIE') Donații
				span.centre.inverted © 2014 Alexandru Onea. All rights reserved.

	.modal.fade#project-details-modal(tab-index='-1', role='dialog', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
					h4.modal-title Project title
				.modal-body
					p Project description
				.modal-footer
					//button.btn.btn-success.btn-apply2(type='button') Aplică
					button.btn.btn-default(type='button', data-dismiss='modal') Înapoi

	.modal.fade#project-apply-modal(tab-index='-1', role='dialog', aria-hidden='true')
		.modal-dialog
			.modal-content
				#auth-modal
				.modal-footer
					//button.btn.btn-success.btn-send-application(type='button') Trimite
					button.btn.btn-default(type='button', data-dismiss='modal') Închide

	.modal.fade.styled-modal#contact-modal(tab-index='-1', role='dialog', aria-hidden='true')
		.modal-dialog
			.modal-content