style
	td {
	padding: 10px;		
	}

h1 Yuhuu!
p Cineva a aplicat la proiectul tau!

table
	tr
		td Nume
		td #{user.firstName}
	tr
		td Prenume
		td #{user.lastName}
	tr
		td Liceu
		td #{user.highschool}
	tr
		td Email
		td #{user.email}
	tr
		td Clasa
		td #{user.grade}
	tr
		td Proiect
		td #{user.project}